<h1>{{title}}</h1>
<link rel="stylesheet" href="./css/style.css">


<div>
    <div id="#categorydiv"  >
   <button id="#devbtn" class="devbutton" onclick="Test(id);" >Development</button>

   
   <button id="dep-aut-button"  data-role="dep-aut-button" class="dep-aut-button" > Automation/Deployment</button>
   
   <button id="mon-tro-button" class="mon-tro-button" onclick="getCategory();"> Monitoring/Troubleshooting</button>
   
   <button id="ivr-tel-button" class="ivr-tel-button" onclick="Test(id);"> IVR/Telephony</button >
   
   <button id="aud-aco-button" class="aud-aco-button" onclick="Test(id);"> Audio/Acoustics</button>

   <button id="sys-ops-button" class="sys-ops-button" onclick="Test(id);"> SysOps</button>
   </div>
</div>
